<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Locomotives</h4>
                        <p class="card-category"> Locomotive details shown below</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-danger">
                                <th>
                                    ID
                                </th>
                                <th>
                                    SCAC
                                </th>
                                <th>
                                    Latest Position
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Speed (mph)
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        1323
                                    </td>
                                    <td>
                                        RRAA
                                    </td>
                                    <td>
                                        SDIV 23 MP 34
                                    </td>
                                    <td>
                                        Normal
                                    </td>
                                    <td>
                                        34
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3776
                                    </td>
                                    <td>
                                        RRAA
                                    </td>
                                    <td>
                                        SDIV 17 MP 88
                                    </td>
                                    <td>
                                        Normal
                                    </td>
                                    <td>
                                        33
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        8221
                                    </td>
                                    <td>
                                        RRAA
                                    </td>
                                    <td>
                                        SDIV 18 MP 87
                                    </td>
                                    <td>
                                        Normal
                                    </td>
                                    <td>
                                        23
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        7844
                                    </td>
                                    <td>
                                        RRAA
                                    </td>
                                    <td>
                                        SDIV 75 MP 39
                                    </td>
                                    <td>
                                        Normal
                                    </td>
                                    <td>
                                        65
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        9009
                                    </td>
                                    <td>
                                        RRAA
                                    </td>
                                    <td>
                                        SDIV 122 MP 2
                                    </td>
                                    <td>
                                        Normal
                                    </td>
                                    <td>
                                        55
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        34542
                                    </td>
                                    <td>
                                        RRAA
                                    </td>
                                    <td>
                                        SDIV 98 MP 05
                                    </td>
                                    <td>
                                        Normal
                                    </td>
                                    <td>
                                        13
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5744
                                    </td>
                                    <td>
                                        RRAA
                                    </td>
                                    <td>
                                        SDIV 14 MP 98
                                    </td>
                                    <td>
                                        Normal
                                    </td>
                                    <td>
                                        0
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
