<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Events</h4>
                        <p class="card-category"> Recent events shown below</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-info">
                                <th>
                                    Time
                                </th>
                                <th>
                                    Locomotive
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Status
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        2018-09-01T12:14:28Z
                                    </td>
                                    <td>
                                        6755
                                    </td>
                                    <td>
                                        SDIV 23 MP 34
                                    </td>
                                    <td>
                                        Dispatch
                                    </td>
                                    <td>
                                        Complete
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2018-09-01T12:14:28Z
                                    </td>
                                    <td>
                                        5433
                                    </td>
                                    <td>
                                        SDIV 17 MP 88
                                    </td>
                                    <td>
                                        Dispatch
                                    </td>
                                    <td>
                                        Complete
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2018-09-01T19:28:49Z
                                    </td>
                                    <td>
                                        5566
                                    </td>
                                    <td>
                                        SDIV 18 MP 87
                                    </td>
                                    <td>
                                        Dispatch
                                    </td>
                                    <td>
                                        Complete
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2018-09-01T15:12:33Z
                                    </td>
                                    <td>
                                        7788
                                    </td>
                                    <td>
                                        SDIV 75 MP 39
                                    </td>
                                    <td>
                                        Arrival
                                    </td>
                                    <td>
                                        Complete
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2018-09-01T12:14:55Z
                                    </td>
                                    <td>
                                        1248
                                    </td>
                                    <td>
                                        SDIV 122 MP 2
                                    </td>
                                    <td>
                                        Dispatch
                                    </td>
                                    <td>
                                        Complete
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2018-09-01T08:29:45Z
                                    </td>
                                    <td>
                                        9655
                                    </td>
                                    <td>
                                        SDIV 98 MP 05
                                    </td>
                                    <td>
                                        Dispatch
                                    </td>
                                    <td>
                                        Complete
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2018-09-01T05:12:09Z
                                    </td>
                                    <td>
                                        3418
                                    </td>
                                    <td>
                                        SDIV 14 MP 98
                                    </td>
                                    <td>
                                        Dispatch
                                    </td>
                                    <td>
                                        Complete
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
